html {
  font-family: monospace;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  background-color: #555;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
}

#screen {
  height: 100px;
  background: #eee;
  border: 2px solid #999;
  font-size: 72px;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logo {
  text-align: right;
  font-style: italic;
  margin-right: 50px;
}

#controls {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

button {
  height: 100px;
  width: 100px;
  font-size: 24px;
  background-color: #e9e9ed;
}

.operators {
  background-color: #cdc;
}

.clear {
  background-color: #ccc;
  color: blue;
}

#root {
  background-color: #ccd;
}

#equals {
  background-color: #dcc;
}
