html {
  font-family: monospace;
  font-size: 1.8vh;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  background-color: #555;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
}

#input-screen, #output-screen {
  position: relative;
  height: 10vh;
  background: #eee;
  border: 2px solid #999;
  font-size: 3rem;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.second::before {
  content: "2nd";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1rem;
}

.insert::after {
  content: "ins";
  position: absolute;
  top: 0.5rem;
  left: 3rem;
  font-size: 1rem;
}

#cursor {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    background-color: darkgrey;
  }
}

#logo {
  text-align: right;
  font-style: italic;
  margin-right: 50px;
}

#controls {
  display: grid;
  grid-template-areas: 
    "edit edit edit"
    "left top right"
    "left numbers right";
  grid-template-columns: 12vh 36vh 12vh;
  gap: 10px;
}

#edit {
  grid-area: edit;
  margin-left: auto;
  margin-right: 10px;
}

#left {
  grid-area: left;
}

#top {
  grid-area: top;
}

#right {
  grid-area: right;
}

#numbers {
  grid-area: numbers;
}

button {
  position: relative;
  height: 8vh;
  width: 12vh;
  font-size: 2rem;
  background-color: #e9e9ed;
}

button::before {
  position: absolute;
  top: .5vh;
  left: .5vh;
  content: attr(data-second-label);
  font-size: 1rem;
  color: blue;
}

#second {
 color: blue;
}

.binaryOperators {
  background-color: #cdc;
}

.clear {
  background-color: #ccc;
  color: blue;
}

.unaryOperators {
  background-color: #ccd;
}

#equals {
  background-color: #dcc;
}
